@model newwwww.Models.CustomerContact
@{
    ViewBag.Title = "delete";
}

<html>
    <head>
<title>Jewelry Shop</title>
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body style="background-color:lightsteelblue">
<div id="wrap">

      <div class="header" style="background-color:black">
       		<div class="logo"><a href="@Url.Action("Index1", "Admin")"><img src="~/Images/logo.png" alt="" title="" border="0" /></a></div> 
                      
        <div id="menu" style="background-color:black" >
         <li><a href="@Url.Action("Index1", "Admin")"style="background-color:ThreeDLightShadow">Home</a></li>

        </div>      
            
            
       </div> 
       
  <h2>@Session["user1"]</h2><br />     
       <div class="center_content">
       	<div class="left_content">
            <div class="title"><span class="title_icon"><img src="~/Images/bullet1.gif" alt="" title="" /></span><h2>Delete</h2></div>
        
        	<div class="feat_prod_box_details">
            <p class="details">
             In oredr to  delete the record of the user fill up the following form :
             </p>

                <br />
                
              	
   @using (Html.BeginForm("delete1", "Admin",FormMethod.Post))
    {

    <fieldset>
        <legend>Enter id of the user to delete the record:</legend>
                  @Html.TextBoxFor(m=>m.Id);
    
           
      <br />
      

        <p>
            <input type="submit" value="Delete" />
        </p>
    </fieldset>
    }
 
            

    

</div>

</body>
</html>